.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build

.idea/dictionaries/Raukawa.xml

.idea/libraries/support_v13_13_0_0.xml

.idea/libraries/support_v4_19_1_0.xml

app/app.iml

gradle/wrapper/gradle-wrapper.properties

.idea/libraries/support_v13_13_0_0.xml

.idea/libraries/support_v4_19_1_0.xml

app/app.iml

.idea/libraries/support_v13_13_0_0.xml

.idea/libraries/support_v4_19_1_0.xml

app/app.iml
